<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <style>
    .header {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    .header-con {
      flex-direction: column;
      width: 100%;
    }

    .header-item {
      justify-content: space-around;
      float: left;
      margin: 2%;
      border: black;
      background: #66339926;
      padding: 1%;
      border-radius: 3px;
    }
  </style>
  <div class="header">
    <div class="header-con">
      <div class="header-item">
        <a href="/dashboard-home/{{.User}}">Home</a>
      </div>
      <div class="header-item">
        <a href="/dashboardpages/{{.User}}">Page Creator</a>
      </div>

    </div>
  </div>
  <p>Hi </p> <br>{{.User}} 






</body>

</html>